@media only screen and (min-width:1281px) and (max-width:1370px){.slider-content.sliden2 h2{font-size:60px !important;line-height:62px !important;margin-bottom:10px !important;}
.sliden1.sliden4{padding-left:0px !important;margin-left:-15px !important;}
.slider-content.sliden1.sliden4 h2{font-size:70px !important;}
.slider-content.sliden1.sliden4 h2 span{margin-bottom:4px !important;}
.pg-new .flex-center{max-width:1160px;}
.cloud-photos{padding:0 15px 0 15px;}
.photo-cell img{}
.table-photos::before{right:-45px;}
.photo-cell-1 img{margin-left:-25px;}
.photo-cell-2 img{margin-left:-145px;}
.photo-cell-3 img{margin-left:-190px;}
.photo-cell-4 img{margin-left:-200px;}
.iphone-view-recording{width:55%;position:absolute;right:0px;bottom:0px;}
.total-control-point-1{margin-left:60px;}
.wipe-ray{margin-left:621px;}
.women-tablet{left:-70px;}
.new-section{background-repeat:no-repeat !important;background-position:top center;}
.tab-info{max-width:620px;}
.key-features-list{max-width:550px;}
}
@media only screen and (min-width:1100px) and (max-width:1280px){.slider-content.sliden2 h2{font-size:60px !important;line-height:62px !important;margin-bottom:10px !important;}
.sliden1.sliden4{padding-left:0px !important;margin-left:-15px !important;}
.slider-content.sliden1.sliden4 h2{font-size:60px !important;line-height:normal !important;margin-bottom:10px !important;}
.slider-content.sliden1.sliden4 h2 span{margin-bottom:-5px !important;font-size:46px !important;}
.total-control-point-1{margin-left:65px;}
.apps-btn-box{padding-left:50px;}
.lets-row{padding:0 50px;}
.lets-3{padding-right:20px;}
.cloud-photos{padding:0 0px 0 0px;max-width:1000px;}
.photo-cell img{}
.controll-left{width:50%;text-align:left;}
.cloude-row{height:665px !important;}
.table-photos::before{right:-20px;}
.photo-cell-1 img{width:400px;height:393px;}
.photo-cell-2 img{margin-left:-135px;}
.photo-cell-3 img{margin-left:-210px;}
.photo-cell-4 img{margin-left:-210px;}
.iphone-view-recording{width:55%;position:absolute;right:0px;bottom:0px;}
.margin-top-light{padding-top:60px;}
.iphone-para{height:640px;}
.wipe-ray{margin-left:664px;}
.women-tablet{left:-70px;}
.new-section{background-repeat:no-repeat !important;background-position:top center;}
.motion-activated-content{padding-left:15px;}
.diagram-connect{left:15px;}
.tab-info{max-width:600px;}
.key-features-list{max-width:550px;}
#product-details .resp-tabs-list li{padding:27px 25px;}
.tabn-title{font-size:36px;}
}
@media only screen and (min-width:768px) and (max-width:1024px){.slider-content.sliden1,
.slider-content.sliden2,
.slider-content.sliden3{padding-top:45px !important;}
.slider-content.sliden2 h2{line-height:1 !important;}
.cloude-box .cloude-2{padding-right:20px;padding-left:0px;}
.controll-left{width:50%;text-align:left;}
.lightlamp-block .total-control-point-2{width:330px;}
.quick-section{padding-top:100px;}
.quick-section .sec-icon{margin-top:15px;min-height:100px;}
.wipe-ray{margin-left:440px;}
.women-tablet{left:-70px;}
.new-section{background-repeat:no-repeat !important;background-position:top center;background-size:100% 100%;padding:13px 0 80px;}
.video-place{max-width:560px;}
.motion-activated-content{padding-left:15px;}
.diagram-connect{left:15px;}
.camera-image{width:860px;height:480px;background-size:100% 100% !important;margin-left:14px;}
.ring-image-box > div{background-size:100% 100% !important;width:780px;height:600px;}
.motion-activated{background-size:100% 100%;}
.instant-iphone{width:60%;background:none !important;top:0px;}
.instant-iphone img{display:inline-block;}
.sec-stores-right{max-width:300px;}
.diagram-connect{width:560px;}
.phone-connect-dot{bottom:100px;left:-63px;}
.cam-connect-dot{bottom:90px;margin-left:16px;}
.instant-alert-content{max-width:380px;}
.instant-iphone{width:70%;right:-80px;}
.instant-alert{background-size:100% 100%;}
.no-computer-required{padding-bottom:80px;}
.women-tablet{background:none !important;width:90%;}
.women-tablet img{display:inline-block;}
.no-computer-content{width:340px;margin-top:0px !important;}
.icon-grid .media{min-height:174px;}
}
@media only screen and (min-width:981px) and (max-width:1024px){.total-control-point-1{margin-left:65px;}
.apps-btn-box{padding-left:50px;}
.lets-row{padding:0 50px;}
.lets-3{padding-right:20px;}
.lets-3 h3{font-size:30px;}
.total-control,
.control-bg2{background-position:center top !important;}
.iphone-camera{width:90%;margin:16px 0 0 0;}
.motion-zone2,.motion-zone1{background-size:100% 100%;width:370px;height:270px;}
.total-control .total-control-point-2{width:370px;}
.total-control .total-control-row{margin-bottom:30px;}
.total-control .total-control-point-2 p{font-size:16px;}
.cloude-row{height:585px !important;}
.table-photos::before{bottom:-80px;}
.photo-cell-1 img{height:300px;margin-left:-25px;width:295px;}
.photo-cell-2 img{height:300px;margin-left:-152px;width:279px;}
.photo-cell-3 img{height:300px;margin-left:-110px;width:260px;}
.photo-cell-4 img{height:300px;margin-left:-146px;width:263px;}
.cloude-2{padding-right:10px;}
.cloude-2:last-child{padding-left:60px;}
.lightlamp-block{padding-bottom:60px;}
.margin-top-light{padding-top:60px;}
.lightlamp-row, .lightlamp-dark-row, .lightlamp-light-row{background-size:100% 100%;}
.total-control-point-2 .total-control-row:last-child{margin-bottom:80px;}
.iphone-view-recording{position:absolute;right:0px;bottom:0px;width:46%;}
.multicamera-row .ipad-camera{width:55%;}
#smart-laptop{background-size:100% 100%;height:490px;padding:34px 162px 80px 155px;}
.iphone-para{width:570px;height:650px;}
#product-details .pro-tabs-new{padding-top:20px;}
.tab-info{max-width:600px;}
.key-features-list{max-width:520px;}
#product-details .resp-tabs-list li{padding:25px 15px;font-size:20px;}
.tabn-title{font-size:30px;margin-bottom:15px;}
#key-featuresN{background-size:35% 80%;}
}
@media only screen and (min-width:667px) and (max-width:1360px){.custom-product-information{height:360px !important;}
}
@media only screen and (min-width:376px) and (max-width:384px){.sp-large{height:350px !important;}
.product-grid-li > li, .product-grid-li > li img{height:180px !important;margin-bottom:10px !important;}
}
@media only screen and (min-width:769px) and (max-width:1024px){.product-buynow2{margin-top:20px !important;}
}
@media only screen and (max-width:1360px){.cloude-row{height:810px;}
}
@media only screen and (min-width:737px) and (max-width:768px){.currency_switch_form{margin-left:76px !important;}
.sp-large{height:630px !important;}
.custom-box-T{width:90%;}
.woocommerce-account .woocommerce-message, .woocommerce-account .woocommerce-error{width:90%;}
.ipad-video-img{max-width:80%;margin:0 auto;}
.cloude-row{height:585px !important;}
.cloud-photos{width:95%;}
.table-photos::before{bottom:-80px;}
.photo-cell-1 img{height:300px;margin-left:0;width:295px;}
.photo-cell-2 img{height:300px;margin-left:-160px;width:279px;}
.photo-cell-3 img{height:300px;margin-left:-110px;width:260px;}
.photo-cell-4 img{height:300px;margin-left:-146px;width:263px;}
.cloude-box{background-size:149% 100%;}
.margin-top-light{padding-top:60px;padding-bottom:0px;}
.lightlamp-row, .lightlamp-dark-row, .lightlamp-light-row{background-position:left top;background-size:100% 100% !important;}
.lightlamp-block .total-control-point-2{margin-right:0px;}
.lightlamp-block .total-control-point-2 .total-control-row{margin-bottom:25px;}
.total-control-point-2 .total-control-row:last-child{margin-bottom:80px;}
.iphone-view-recording{position:absolute;right:0px;bottom:0px;width:46%;}
.multicamera-row .ipad-camera{width:55%;}
.everthing-you-content h2, .be-easier-area h2, .total-control-content h2, .no-batteries-col h2,
.total-control-point-1 h4{font-size:22px;}
.total-control-point-1 p{font-size:14px;}
.view-recording-row .total-control-row{width:50%;margin:0 auto;float:none;text-align:center;margin-bottom:40px;}
.iphone-view-recording{width:25%;}
#smart-laptop{height:264px;margin:0 auto;max-width:500px;padding:18px 88px 34px 83px;background-size:contain;}
.smart-buffer-area{padding:40px 0 20px 0;}
.multicamera-row{padding-bottom:0px;}
.multicamera-row .everthing-you-content{margin:0px;padding:30px 0;background:none;-webkit-box-shadow:none;box-shadow:none;text-align:left;max-width:360px;}
.everthing-you-content h2{font-size:30px;margin-bottom:15px;}
.watchlive-row .lets-3{width:70%;margin:0 auto;float:none;}
.apps-btn-box{text-align:center;}
.quick-section{padding-top:100px;}
.quick-section .sec-icon{margin-top:15px;min-height:100px;}
.motion-activated-content p,
.sec-stores-right p,
.instant-alert-content p,
.new-section p,
.quick-inner p{font-size:14px;}
.section-title{font-size:28px !important;}
.wipe-ray{margin-left:337px;}
.women-tablet{left:-70px;}
.new-section{background-repeat:no-repeat !important;background-position:top center;background-size:100% 100%;padding:15px 0 80px;}
.motion-activated-content{padding-left:15px;max-width:300px;}
.instant-alert-content .section-title,
.sec-stores-right .section-title{line-height:1;}
.diagram-connect{left:15px;}
.camera-image{width:670px;height:440px;background-size:100% 100% !important;margin-left:0px;}
.ring-image-box > div{background-size:100% 100% !important;width:780px;height:600px;}
.motion-activated{background-size:100% 100%;}
.sec-stores-right{max-width:300px;}
.stores-footage .flex-center{min-height:715px;}
.diagram-connect{width:490px;bottom:50px;}
.phone-connect-dot{bottom:100px;left:-63px;}
.cam-connect-dot{bottom:90px;margin-left:16px;}
.instant-alert{min-height:560px;}
.instant-alert-content{max-width:300px;}
.instant-iphone{width:60%;background:none !important;top:0px;}
.instant-iphone img{display:inline-block;}
.no-computer-required{padding-bottom:40px;background-repeat:no-repeat !important;padding-top:50px;}
.no-comp-apps{margin-top:35px;padding-top:30px;}
.women-tablet{background:none !important;width:90%;}
.women-tablet img{display:inline-block;}
.no-computer-content{width:340px;margin-top:0px !important;max-width:330px !important;}
.video-place{max-width:450px;}
.resp-tab-content{overflow:hidden;}
.pro-tabs-new .resp-arrow{width:0;height:0;float:right;margin-top:3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:12px solid #fff;}
.pro-tabs-new h2.resp-tab-active{color:#fff !important;background:#61b136 !important;}
.pro-tabs-new h2.resp-tab-active span.resp-arrow{border:none;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:12px solid #fff;}
#product-details .pro-tabs-new h2.resp-accordion:first-child{border-top:1px solid #f1f6f8 !important;}
.pro-tabs-new h2.resp-accordion{border-color:#f1f6f8;color:#fff;background:#11659d;}
#product-details .pro-tabs-new{padding-top:0px;}
.tab-info{max-width:450px;}
.key-features-list{max-width:400px;}
.tabn-title{font-size:26px;margin-bottom:15px;padding-top:30px;}
#key-featuresN{background-size:35% 80%;border-bottom:1px solid #f1f6f8;}
.requirements-area{padding-bottom:40px;}
}
@media only screen and (min-width:569px) and (max-width:600px){.custom_proceed_checkout_btn span{padding-left:77px !important;width:75% !important;}
#custom_moneyback_icon_image{max-width:75% !important;}
.currency_switch_form{margin-left:76px !important;}
.owl-theme .owl-controls .owl-buttons div{width:50px !important;}
.sp-large{height:500px !important;}
.custom-product-information{height:380px !important;}
}
@media only screen and (min-width:415px) and (max-width:568px){.cartproduct-qtu-right.product-total{width:18% !important;;}
}
@media only screen and (min-width:376px) and (max-width:414px){.sp-large{height:360px !important;}
.cartproduct-qtu-right.product-total{margin-top:0px !important;}
}
@media only screen and (min-width:321px) and (max-width:375px){.sp-large{height:330px !important;}
.product-grid-li > li, .product-grid-li > li img{height:190px !important;margin-bottom:10px !important;}
.cartproduct-qtu-right.product-total{margin-top:0px !important;}
}
@media only screen and (min-width:668px) and (max-width:736px){.slider-content.sliden1 .subtitle span{font-size:20px !important;}
.owl-theme .owl-controls .owl-buttons div{width:60px !important;}
.product-buynow2{margin-top:20px !important;}
}
@media only screen and (min-width:321px) and (max-width:384px){}
@media only screen and (max-width:1280px){.product-grid-li li .product-content{left:5%;top:5%;}
.product-grid-li li .product-content h2{margin-bottom:15px;font-size:30px;}
.product-grid-li li .product-content a{margin-top:10px;}
.price-product{font-size:30px;}
.contact-title3{padding-left:0px;}
.everthing-you-content, .no-computer-content{margin-top:60px;margin-left:50px;}
.total-control{position:relative;}
.total-control-point-2{margin-right:40px;margin-top:100px;}
.cloude-row{height:770px;}
select,
textarea,
input[type="tel"],
input[type="email"],
input[type="text"],
input[type="password"]{background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)))!important;background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0))!important;}
}
@media only screen and (max-width:1024px){body{font-size:100%;}
.product-grid-list li{width:50%;padding:5px;}
.product-grid-list li > img{width:100%;}
.head-bg{background-size:cover;}
.counter-area .count-box{width:7.8%;font-size:100%;height:auto;padding-top:15px;}
.counter-area{height:auto;}
.count-space{font-size:100%;width:3%;height:auto}
.counter-center{width:100%;float:left;padding:0px 30px;}
.count-space span{height:100%;}
.counter-row .thenumberof{padding:0px 50px;line-height:1.5;}
.sp-thumbs a:link, .sp-thumbs a:visited{margin-bottom:5px;}
.product-view-gallery{margin-right:405px;}
.product-howitwork li{line-height:1;}
.sp-large{}
.qty-input{width:140px;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{font-size:15px;width:60px;height:60px;}
.product-listing .product-info-area h2 .offersave-15 strong, .product-listing .product-info-area h2 .offersave-17 strong, .product-listing .product-info-area h2 .offersave-17-1 strong{font-size:17px;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{padding-top:10px;}
.product-info-area{padding:20px 30px;}
.product-info-area .product-information h2{font-size:24px;padding-right:50px;}
.product-info-area .product-info-listing{margin:0px;}
.product-info-area .product-price-row{padding-top:10px;}
.checkout-left{margin-right:440px;}
.accordion h4{font-size:20px;}
.basket-item{width:59%;}
.basket-price, .basket-qty, .basket-total{width:13.3%;}
.basket-subtotal{width:41%;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{margin-right:-18px;}
.offersave-15{margin-right:35px !important;top:14px !important;}
.offersave-15{margin-right:35px !important;top:14px !important;}
.smart-title-area{top:20px;}
.smart-title-area .total-control-content h2{font-size:26px;margin-bottom:10px;margin-top:10px;}
.smart-title-area .total-control-content p{font-size:14px;margin-bottom:0px;}
.contact-title3{padding-left:0px;}
.slider-content .row-btn .shopnow-btn{line-height:39px !important;width:200px !important;}
.slider-content.sliden1 h2,
.slider-content.sliden3 h2,
.slider-content.sliden2 h2{font-size:36px !important;margin-bottom:10px;}
.slider-content.sliden1 h2 span,
.slider-content.sliden3 h2 span{line-height:normal !important;font-size:36px !important;}
.slider-content.sliden1 .row-btn,
.slider-content.sliden3 .row-btn,
.slider-content.sliden2 .row-btn{margin-top:10px !important;}
.slider-content.sliden1 .subtitle,
.slider-content.sliden2 .subtitle,
.slider-content.sliden3 .subtitle{font-size:24px !important;line-height:28px !important;}
.slider-content.sliden1.sliden4 .subtitle span{font-size:24px !important;line-height:normal !important;}
.slider-content.sliden1.sliden4 h2 span{margin-bottom:0px !important;}
}
@media only screen and (max-width:960px){.product-grid-li > li, .product-grid-li > li img{width:100%;}
.cols-33{width:100%;margin-bottom:25px;}
.iconlisting{text-align:center;}
.iconlisting li{width:48%;margin-bottom:25px;float:none;display:inline-block;}
.videocloud-area, .easytoinstall{padding-left:0px;padding-right:0px;text-align:center;}
.videocloud-text-area, .easytoinstall-area{background-color:rgba(255,255,255,0.9);padding-bottom:20px;padding-right:20px;padding-top:150px;padding-left:20px;float:none;display:inline-block;box-shadow:1px 2px 5px rgba(0,0,0,0.5);background-position:center 50px;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.thankyou-actions .basket-btn{width:100%;}
.thankyou-left, .thankyou-right-share{margin:0px;width:100%;float:left;}
.slider-content .row-btn .shopnow-btn{line-height:39px !important;width:200px !important;}
.slider-content.sliden1 h2,
.slider-content.sliden3 h2,
.slider-content.sliden2 h2{font-size:26px !important;line-height:30px !important;margin-bottom:5px;}
.slider-content.sliden1 .subtitle,
.slider-content.sliden2 .subtitle,
.slider-content.sliden3 .subtitle,
.slider-content.sliden1.sliden4 .subtitle{font-size:18px !important;line-height:22px !important;}
.slider-content.sliden1.sliden4 .subtitle span{font-size:18px !important;line-height:normal !important;}
.slider-content.sliden3 h2 span{margin-top:2px !important;font-size:26px !important;line-height:normal !important;}
.slider-content.sliden3 .row-btn,
.slider-content.sliden2 .row-btn{margin-top:10px !important;}
.slider-content.sliden2 .viewout{margin-top:10px !important;}
.slider-content.sliden2 .subtitle{font-size:18px !important;line-height:22px !important;}
.iphone-para{float:none;background:none !important;height:auto !important;width:auto;margin-top:0px;}
.iphone-para img{display:inline-block;}
.resp-tab-content{overflow:hidden;}
.pro-tabs-new .resp-arrow{width:0;height:0;float:right;margin-top:3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:12px solid #fff;}
.pro-tabs-new h2.resp-tab-active{color:#fff !important;background:#61b136 !important;}
.pro-tabs-new h2.resp-tab-active span.resp-arrow{border:none;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:12px solid #fff;}
#product-details .pro-tabs-new h2.resp-accordion:first-child{border-top:1px solid #f1f6f8 !important;}
.pro-tabs-new h2.resp-accordion{border-color:#f1f6f8;color:#fff;background:#11659d;}
#product-details .pro-tabs-new{padding-top:0px;}
.tab-info{max-width:450px;}
.key-features-list{max-width:400px;}
.tabn-title{font-size:26px;margin-bottom:15px;padding-top:30px;}
#key-featuresN{background-size:35% 80%;border-bottom:1px solid #f1f6f8;}
.requirements-area{padding-bottom:40px;}
}
@media only screen and (max-width:800px){.product-grid-list li{width:49%;margin:0;padding:10px;}
.header-block ul li a{padding:35px 9px;font-size:11px;}
header, section, article, footer{padding-left:30px;padding-right:30px;}
.bastket-img{width:100%;text-align:center;margin-bottom:10px;}
.bastket-summary{margin:0px;width:100%;float:left;text-align:center}
.basket-item{width:40%;}
.basket-row .basket-price, .basket-row .basket-qty, .basket-row basket-total{width:20%;}
.basket-subtotal{width:50%;padding-left:20px;float:right;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
}
@media only screen and (max-width:768px){.product-view-gallery, .product-information{margin:0px;width:100%;}
.product-buynow{padding:0px 43%;}
.product-information{margin-top:25px;}
.rating-label, .rating-label-count{width:15%;}
.rating-bar{width:70%;}
.product-listing > li{width:50%;margin-bottom:15px;}
.checkout-left, .checkout-right{margin:0px;width:100%;float:left;}
.checkout-logo{text-align:center;display:block;width:100%;float:left;margin:15px 0;}
.checkout-right-nav{text-align:center;width:100%;float:left;height:auto;margin:0px;}
.checkout-right-nav ul li a{display:block;}
.checkout-right-nav ul li{display:inline-block;float:none;}
.checkout-header .checkout-header-blue{padding-bottom:15px;}
.cloud-area-save{width:100%;text-align:center;}
.cloud-area-description{width:100%;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.navbar-collapse{padding-right:0px !important;}
.bastket-img img{max-width:45% !important;}
.custom_proceed_checkout_btn{margin-top:10px !important;}
.everthing-you-area{padding-bottom:50px;}
.watchlive-title-row h1,
.everthing-you-content h2, .be-easier-area h2, .total-control-content h2, .no-batteries-col h2{font-size:30px;}
.no-computer-content h2{font-size:30px;margin-top:59px !important;}
.watchlive-title-row p,.lets-3 p,
.everthing-you-content p, .be-easier-area p, .total-control-content p, .no-computer-content > p, .no-batteries-col p{font-size:14px;}
.control-bg2,.total-control{background-position:center top !important;}
.iphone-camera{width:100%;margin:128px 0 0 25px;}
.motion-zone2,.motion-zone1{background-size:100% 100%;width:300px;height:220px;}
.total-control-point-2{width:250px;}
.cloude-2 p,
.total-control-point-2 p{font-size:14px;}
.total-control-content h2,
.total-control-point-2 h4{font-size:22px;}
.howitworks-header h2{text-align:center;font-size:50px;margin-top:75px;}
.howitworks-header{min-height:260px;}
.no-batteries-required{padding:150px 0;background-position:top}
.no-computer-content{width:100%;max-width:400px;}
.no-batteries-col, .everthing-you-content{background-color:rgba(248,240,217,0.9);box-shadow:0px 5px 50px rgba(0,0,0,0.2);padding:20px;width:100%;max-width:400px;margin:0px auto;float:none;text-align:center;}
.everthing-you-content p{text-align:center;}
.everthing-you-content{position:static;background-color:rgba(244,250,253,0.8);margin-top:50px;}
.everthing-you-area{background-image:url(../images/everything-you-need.jpg);background-repeat:no-repeat;background-size:cover;}
.everthing-you-area .ipad-camera{display:none;}
.offersave-15{margin-right:35px !important;}
#menu-header-menu{margin-left:-5px !important;}
.journey-left-box, .journey-right-box{width:100%;}
.journey-left-box{border-left:solid 3px #fff;border-right:none;padding-left:120px;padding-right:60px;text-align:left;}
.journey-left-box:before{content:'';left:50px;}
.journey-left-box:after{content:'';left:0px;}
.thejourney-timeline ul li:before{left:-5px;}
.thejourney-timeline{padding-left:50px;padding-right:50px;}
.team-row .team-cols{margin-bottom:50px;width:100%;float:left;padding-left:10px;padding-right:10px;}
.security-is-our-mantra{background-color:#d6c9bb;background-size:cover;}
.whereitall-left{padding-right:00px;margin-top:10px;}
.aboutus-top{background-size:cover;}
.aboutus-top p{font-size:18px;}
.aboutus-top h2, .security-is-our-mantra .security-title-row h2, .the-team .security-title-row h2{font-size:40px;}
.whereitall-left h3{font-size:30px;}
.whereitall-left .backin2007{font-size:16px;}
.cloude-box{padding-top:135px;}
.lightlamp-row .total-control-point-2 p{color:#626d80;}
.lightlamp-row .total-control-point-2 h4{color:#2e3b4f;}
.lightlamp-row, .lightlamp-dark-row, .lightlamp-light-row{background-size:cover;background-position:left top;}
.total-control-point-1{position:static;width:100%;margin:0px;}
.lets-3{width:100%;margin-bottom:25px;text-align:center;}
.mobile-view{display:block;}
.desktop-view{display:none;}
.iphone-mobile{margin-top:50px;float:right;}
.lets-3 h3, .cloude-2 h3{font-size:22px;}
#motion_detect{color:white !important;}
#control_detect{color:black !important;}
.slider-content.sliden1 h2 span,
.slider-content.sliden3 h2 span{line-height:normal !important;font-size:26px !important;}
}
@media only screen and (max-width:767px){.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.header-block ul li{width:100%;}
.header-block ul li a{padding:10px 0px;}
.shoppingcart{background-position:left center;padding-left:35px !important;}
.navbar-toggle{margin-top:19px;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:#11659d;}
.navbar-inverse .navbar-toggle{background-color:#11659d;border:1px solid #11659d;}
.head-bgs{background-size:cover;}
.product-detils-tabs-area .carousel-indicators{bottom:60px;}
.header-top-84{margin-top:75px;}
.contact-blank .product-view-gallery{width:100%;}
.contact-blank .product-information{width:100%;}
.product-listing .product-area-box .product-info-area{min-height:auto;}
.checkout.woocommerce-checkout ul.woocommerce-error{padding-left:35px !important;}
.checkout.woocommerce-checkout ul.woocommerce-error::before{top:14px;left:15px;}
.product-grid-li li .product-content .blt-prdct li{background-position:left 2px;}
.product-grid-li li .product-content a{height:36px !important;line-height:36px !important;font-size:12px !important;}
.iconlisting li p{padding:0px 5px;}
.nav.navbar-nav.navbar-right{margin:-8px 0px 12px -6px !important;}
.product-buynow2{box-shadow:none;font-size:15px;width:160px;}
.product-info-area div:last-child{text-align:center;}
.woocommerce a.remove{line-height:12px !important;}
#cust_apply_code_btn{margin-top:10px;font-size:12px;}
.checkout-row .shopnow-btn span{left:auto !important;width:auto !important;padding-right:25px;}
.checkout-row .shopnow-btn{font-size:12px;line-height:47px;width:250px !important;}
.checkout-row .checkout-btn{padding:0px;}
.checkout-right-nav ul li{margin-top:10px !important;}
.wc_payment_method.payment_method_paypal label img{width:100px;}
.wc_payment_method.payment_method_paypal label a{line-height:30px !important;}
#register{top:15px !important;}
#register .ajax-auth h1{margin:0 0 10px;}
#register input{margin-bottom:10px !important;}
#coupon_head .woocommerce-info::before{content:" " !important;}
.product-information .shopnow-btn.product-buynow{width:250px;padding:0 90px;}
.lets-3, .cloude-2{width:100%;margin-bottom:25px;text-align:center;}
#register, #login, #forgot_password,
.woocommerce form.ajax-auth{top:0px !important;}
form.ajax-auth{position:fixed;left:auto;width:100%;margin-left:0px;padding:0;background-color:transparent;-webkit-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;box-shadow:none;height:100%;top:auto !important;overflow:auto;}
.popup-inner{position:relative;z-index:999999;}
.popup-inner{max-width:600px;margin:0 auto;width:80%;}
.form-box{position:relative;overflow:hidden;padding:25px;margin:25px 0;background:#fff;-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.2);box-shadow:0 0 6px rgba(0, 0, 0, 0.2);}
.pop-container{display:table-cell;vertical-align:middle;width:100%;height:100%;}
.custom-box-T,
.woocommerce-edit-address .form-row,
.my-address .col-2, .my-address .col-1,
.pay-order-details #payment{width:100% !important;}
.pay-order-details .shop_table th,
.pay-order-details .shop_table td{font-size:15px;}
.my_account_orders .order-status,
.my_account_orders .order-number{display:none !important;}
.my_account_orders th, .my_account_orders td{font-size:15px;padding:8px 5px;}
.shop_table .button{font-size:13px;}
.custom-box-T #shipping_company_field,
.custom-box-T #shipping_country_field,
.custom-box-T #shipping_last_name_field,
.custom-box-T #shipping_first_name_field{width:100% !important;}
.billing-box .form-row{width:100% !important;}
.login-box,
.woocommerce-account .woocommerce-message, .woocommerce-account .woocommerce-error{width:100%;}
.slider-content.sliden1,
.slider-content.sliden2,
.slider-content.sliden3{}
.slider-content.sliden2 .subtitle{display:none !important;}
.slider-content{margin-left:20px !important;}
.rev_slider_wrapper{margin-top:75px !important;}
.slider-content.sliden1 h2, .slider-content.sliden2 h2, .slider-content.sliden3 h2{font-size:26px !important;}
.slider-content.sliden1 h2 span, .slider-content.sliden3 h2 span{margin-top:5px !important;font-size:26px !important;display:block;line-height:normal !important;}
.slider-content.sliden1 .subtitle, .slider-content.sliden2 .subtitle, .slider-content.sliden3 .subtitle{font-size:20px !important;line-height:26px !important;}
.slider-content.sliden2 .appstore-area{width:auto;text-align:left;}
.sliden1.sliden4{padding-left:0px !important;margin-left:0px !important;}
.slider-content.sliden1.sliden4 h2{margin-bottom:5px !important;}
.slider-content.sliden1.sliden4 h2 span{}
.ipad-video-frame img{width:70%;}
.watchlive-title-row h1{font-size:30px;}
.watchlive-title-row p{font-size:16px;}
.ipad-video-frame{margin-top:15px;}
.lets-3 p{font-size:14px;}
.controll-left,
.motion-zone2,
.motion-zone1{display:none;}
.control-bg2{padding:60px 0 90px 0;}
.total-control .total-control-point-2{float:none;margin:0 auto;text-align:center;}
.total-control .total-control-row{margin-bottom:40px;}
.total-control .iphone-camera{width:30%;}
.photo-cell img{max-width:100%;width:auto !important;height:auto !important;margin:0px !important;}
.table-photos::before{display:none;}
.cloud-storage .cloude-box{background-size:auto 50%;padding-top:80px;height:525px;}
.cloude-box::after{content:"";height:82%;position:absolute;left:0px;bottom:0;background:#eef4fa;width:100%;z-index:10;}
.cloud-storage{padding-top:60px;}
.cloude-2{position:relative;z-index:99;padding:0 20px !important;}
.cloud-storage .cloude-row{height:605px;}
.cloude-2 p{font-size:14px;}
.cloud-photos{padding:0 20px;}
.lightlamp-block .total-control-point-2{width:auto;max-width:200px;}
.lightlamp-block .total-control-row{margin-bottom:40px;}
.lightlamp-block .margin-top-light{margin-top:40px;}
.lightlamp-row, .lightlamp-dark-row, .lightlamp-light-row{background-position:right top;background-size:100% 100%;}
.total-control-point-1{float:none;margin:0 auto;text-align:center;width:auto;max-width:320px;}
.everthing-you-content h2, .be-easier-area h2, .total-control-content h2, .no-batteries-col h2{font-size:30px;}
.everthing-you-content p, .be-easier-area p, .total-control-content p, .no-computer-content > p, .no-batteries-col p{font-size:14px;}
.total-control-point-1 h4{font-size:22px;}
.total-control-point-1 p{font-size:14px;}
.view-recording-row .total-control-row{margin-bottom:40px;padding:0 15px;}
.iphone-view-recording{margin-top:0px;width:85%;}
.smart-buffer-area{padding:60px 0;}
.smart-buffer-area .smart-title-area .total-control-content h2{font-size:30px;margin:15px 0;}
#smart-laptop{background-size:contain;height:132px;margin:0 auto;max-width:250px;padding:9px 13px 9px 11px;}
#smart-laptop .lappy-slider{width:72.929%;}
.smart-buffer-area .carousel-control{width:50px;}
.smart-area{position:relative;}
.smart-area .carousel-control .glyphicon-chevron-right,
.smart-area .carousel-control .glyphicon-chevron-left{background-size:contain;width:20px;height:30px;}
.smart-area .carousel-control .glyphicon-chevron-left, .smart-area .carousel-control .glyphicon-chevron-right{margin-top:-10px;}
.multicamera-row{padding-bottom:60px;}
.multicamera-row .ipad-camera{display:none !important;}
.resp-tab-content{overflow:inherit;}
.pro-tabs-new .resp-arrow{width:0;height:0;float:right;margin-top:3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:12px solid #fff;}
.pro-tabs-new h2.resp-tab-active{color:#fff !important;background:#61b136 !important;}
.pro-tabs-new h2.resp-tab-active span.resp-arrow{border:none;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:12px solid #fff;}
#product-details .pro-tabs-new h2.resp-accordion:first-child{border-top:1px solid #f1f6f8 !important;}
.pro-tabs-new h2.resp-accordion{border-color:#f1f6f8;color:#fff;background:#11659d;}
#product-details .pro-tabs-new{padding-top:0px;}
.tab-info{max-width:450px;}
.key-features-list{max-width:350px;}
.tabn-title{font-size:26px;margin-bottom:15px;padding-top:30px;}
#key-featuresN{background-size:25% 25%;border-bottom:1px solid #f1f6f8;float:none;width:100%;}
.features-row{margin-top:25px;}
.top-text p{font-size:16px;padding-bottom:0px;}
.key-icon{width:80px;}
.keyf-text{padding-left:20px;}
.requirements-area{padding-bottom:40px;float:none;width:100%;}
.req-left{width:250px;}
.requirements-area .tabn-title{padding-bottom:15px;}
}
@media only screen and (max-width:736px){.product-filter-area li a{padding:20px 15px;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.navbar-nav{margin:7.5px 0px !important;}
.bastket-img img{max-width:50% !important;}
.offersave-15{margin-right:35px !important;}
.watchlive-row a{width:100%;float:left;text-align:center;display:block;margin-bottom:15px;}
.thankyou-shipping-address, .thankyou-billing-address{margin-bottom:15px;text-align:left;width:50%;float:left;padding:0px;}.thankyou-shipping-method{margin-bottom:15px;text-align:left;width:100%;float:left;padding:0px;}
.print-recipt-btn{float:left;}
.print-row{margin-top:20px;}
.thankyou-header-row{text-align:center;height:auto;}
.thankyou-header-row h3{display:block;width:100%;text-align:center;}
.thankyou-header-row .review-your-order{margin-top:15px;display:inline-block;float:none;}
.quick-section{padding-top:100px;background-size:cover !important;padding-bottom:40px;}
.quick-section .row .span3{width:100%;}
.quick-inner{width:50%;margin:0 auto;margin-bottom:10px;}
.quick-section .sec-icon{margin-top:15px;min-height:100px;}
.motion-activated-content p,
.sec-stores-right p,
.instant-alert-content p,
.new-section p,
.quick-inner p{font-size:14px;}
.section-title{font-size:24px !important;}
.instant-alert-content .section-title,
.sec-stores-right .section-title{line-height:1;}
.new-section{background-size:100% 100%;padding:0 0 75px;}
.video-place{width:70%;}
.be-easier-area{padding-top:40px;}
.motion-activated .flex-center{min-height:1px;padding:40px 0;}
.sotres-cloud-bg::after{content:"";background:#f5f9fc;height:300px;bottom:-300px;left:0;position:absolute;width:100%;}
.motion-activated-content{padding-left:15px;max-width:250px;margin:80px 0 80px;}
.stores-footage .flex-center{min-height:400px;}
.diagram-connect{left:15px;width:48%;bottom:50px;}
.camera-image{width:100%;height:330px;background-size:100% 100% !important;margin:23px -47px -83px -16px;}
.ring-images{width:100%;}
.ring-image-box > div{background-size:100% 100% !important;width:100%;height:600px;}
.motion-activated{background-size:100% 100%;}
.wipe-ray{margin-left:320px;background-size:100% 100%;height:165px;bottom:67px;}
.cloud-stores-photos{width:60%;left:-15px;display:table;}
.cloud-stores-photos > div{display:table-cell;vertical-align:bottom;margin:0px !important;float:none;position:relative;}
.cloud-stores-photos > div.photo-cell1{top:75px;}
.cloud-stores-photos > div.photo-cell2{left:-25px;top:47px;}
.cloud-stores-photos > div.photo-cell3{left:-55px;top:54px;}
.cloud-stores-photos > div.photo-cell4{left:-105px;top:15px;}
.sotres-cloud-bg{background-size:100% 100%;width:100%;height:320px;}
.sec-stores-right{margin-top:80px;width:40%;}
.cam-connect-dot{width:50px !important;height:35px;background-size:100% 100%;bottom:50px;margin-left:15px;}
.phone-connect-dot{width:50px !important;height:35px;margin-right:30px;background-size:100% 100%;left:-28px;bottom:50px;}
.instant-alert{min-height:1px;}
.instant-iphone{width:60%;background:none !important;top:0px;}
.instant-iphone img{display:inline-block;}
.instant-alert-content{max-width:200px;margin:60px 0;}
.no-computer-required{padding-bottom:40px;background-repeat:no-repeat !important;padding-top:50px;}
.no-comp-apps{margin-top:15px;padding-top:10px;}
.women-tablet{background:none !important;width:80%;top:0;left:-35px;}
.women-tablet img{display:inline-block;}
.no-computer-content{width:340px;margin-top:0px !important;margin-left:0px !important;max-width:200px !important;}
.no-computer-content .sec-icon img{width:65%;}
.no-computer-content h2{margin:15px 0 !important;}
.no-comp-apps a{margin:10px 0 0 0;}
.no-comp-apps a img{width:60%;}
}
@media only screen and (min-width:601px)and (max-width:667px){.product-caption p{padding-right:31px !important;font-size:18px !important;}
.bastket-img img{max-width:45px !important;}
#custom_cart_class{margin-top:9px !important;}
.custom_proceed_checkout_btn{margin-top:10px !important;}
#custom_moneyback_icon_image{max-width:80% !important;}
.currency_switch_form{margin-left:76px !important;}
.offersave-15{margin-right:35px !important;}
.owl-theme .owl-controls .owl-buttons div{width:55px !important;}
.slider-content{margin-left:20px !important;}
.rev_slider_wrapper{margin-top:75px !important;}
.slider-content.sliden1 h2, .slider-content.sliden2 h2, .slider-content.sliden3 h2{font-size:30px !important;}
.slider-content.sliden1 h2 span, .slider-content.sliden3 h2 span{margin-top:5px !important;font-size:30px !important;display:block;line-height:normal !important;}
.slider-content.sliden1 .subtitle, .slider-content.sliden2 .subtitle, .slider-content.sliden3 .subtitle{font-size:20px !important;line-height:26px !important;}
.slider-content.sliden2 .appstore-area{width:auto;text-align:left;}
.slider-content.sliden1 .subtitle span{font-size:20px !important;}
.apps-btn-box{text-align:center;padding-top:0px;}
.apps-btn-box a{float:none;width:auto;display:inline-block;}
.total-control-point-2{width:100%;}
.control-bg2{padding-bottom:140px;}
.total-control .iphone-camera{width:25%;}
.lightlamp-block .total-control-point-2{float:right;margin:40px 0 0 0;text-align:right;}
.total-control-point-1{max-width:90%;}
.multicamera-row .ipad-camera{width:45%;}
.cloud-photos .photo-cell-2 img{margin-left:-26px !important;}
}
@media only screen and (max-width:640px){.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.product-grid-li li .product-content{top:10%;}
.product-grid-list li, .iconlisting li{width:100%;margin:0;padding:0px;margin-bottom:10px;}
.iconlisting li{float:left;}
.slider-content h2{font-size:50px;}
.appstore-area{width:100%;text-align:center;}
.head-bg{padding-top:120px;}
header, section, article, footer{padding-left:25px;padding-right:25px;}
.head-bg{padding-left:0px;padding-right:0px;}
.newsletter-blank{padding:50px 20px;}
.footer-copyright{line-height:1.6;}
.product-grid-list li{width:100%;padding:5px;}
.counter-center{float:none;width:auto;}
.counter-row{background-size:cover;background-position:left top;}
.counter-area .count-box{background:none !important;width:auto;font-size:29px;}
.counter-area .count-box:before{display:none;}
.count-space{width:auto;float:left;}
.count-space span{height:auto;font-size:29px;}
.counter-row .thenumberof{padding:0 15px;}
.product-howitwork li{width:100%;float:left;height:50px;line-height:50px;}
.product-packge-img{background-size:300px;}
.product-filter-area li a{padding:20px 10px;}
.cart-summary-right .qty-input{width:80px;}
.basket-row .basket-qty{width:24%;}
.basket-row .basket-price, .basket-row .basket-total{width:16%;}
.basket-action-area .continue-shopping-btn, .basket-action-area .shopnow-btn{width:100%;margin-bottom:15px;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{font-size:15px;height:53px;width:52px;}
.lets-get-mobile a{display:block;margin-bottom:10px;text-align:center;}
.total-control-row{width:100%;}
.total-control-point-2 h4{color:#2e3b4f;}
.total-control-point-2 p{color:#626d80;}
.total-control{background-size:cover;}
.journey-left-box, .journey-right-box{padding-left:80px;padding-right:10px;}
.thejourney-timeline{padding:0px 25px;}
.cloude-box{height:680px;}
.cloude-row{height:780px;}
.smart-title-area .total-control-content h2{font-size:30px;}
.smart-title-area .plugnplay-icon img{width:120px;}
.slider-content{margin-left:20px !important;}
.rev_slider_wrapper{margin-top:75px !important;}
.slider-content.sliden1 h2, .slider-content.sliden2 h2, .slider-content.sliden3 h2{font-size:30px !important;}
.slider-content.sliden1 h2 span, .slider-content.sliden3 h2 span, .slider-content.sliden4 h2 span{margin-top:5px !important;font-size:30px !important;display:block;line-height:normal !important;}
.slider-content.sliden1 .subtitle, .slider-content.sliden2 .subtitle, .slider-content.sliden3 .subtitle{font-size:20px !important;line-height:26px !important;}
.slider-content.sliden2 .appstore-area{width:auto;text-align:left;}
.slider-content.sliden1.sliden4 .subtitle span{font-size:18px !important;line-height:24px !important;}
.cloud-photos .photo-cell.photo-cell-3 img{margin-top:12px !important;}
.cloud-photos .photo-cell.photo-cell-4 img{margin-top:16px !important;}
.cloud-stores-photos{display:none !important;}
}
@media only screen and (max-width:480px){.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.product-howitwork li{line-height:1.4;margin-bottom:15px;}
.videocloud-area, .easytoinstall{padding:30px;background-position:bottom;}
.videocloud-text-area, .easytoinstall-area{width:100%;float:left;}
.product-grid-li li .product-content .blt-prdct li{width:50%;}
.cols-4{margin-bottom:20px;}
.footer-links a{margin-bottom:10px;}
.product-grid-li li .product-content h2, .price-product{font-size:24px;}
.price-product, .product-grid-li li .product-content a{margin:0px;padding:0px;width:40%;float:left;}
.product-grid-li li .product-content .blt-prdct li{font-size:12px;}
.cols-4, .cols-5, .social-icons, .flag-icons{min-height:inherit;width:100%;}
.cols-33 p{padding:0px;}
.slider-content h2{font-size:38px;}
.slider-content .subtitle{font-size:30px;line-height:1.6;}
.viewout{font-size:18px;}
.old-price, .rating-area{margin-bottom:15px;}
.old-price:before{content:'';width:120px;}
.old-price, .discount-price{display:block;width:100%;margin-right:0px;}
.rating-area, .instoke-cell{width:100%;}
.instoke-cell{padding:0px;}
.product-buynow{padding:0px 90px;}
.discription-online{text-align:center;}
.sp-thumbs a:link, .sp-thumbs a:visited{width:32.33%;margin-right:1%;}
.productdetail-cols-5{width:100%;}
.easytoinstall-area h2, .videocloud-text-area h2{font-size:30px;}
.rating-row .helpful{width:100%;float:left;height:auto;text-align:left;}
.helpful{margin-top:10px;}
.review-author .written-by, .review-author .age-reviewer, .review-author .location-riviewr{padding:0px;width:100%;float:left;margin-top:10px;}
.product-viewblank li .review-author .age-reviewer, .product-viewblank li .review-author .location-riviewr{padding:0px;}
.rating-label, .rating-label-count{width:70px;}
.rating-bar{width:100px;}
.carousel-indicators{display:none;}
.checkout-cell-left, .checkout-cell-right{padding:0px;width:100%;margin-bottom:5px;}
.checkout-cell-right{margin-bottom:0px;}
.mobile-view-label{display:block;}
.basket-heading .basket-price, .basket-heading .basket-qty, .basket-heading .basket-total{display:none;}
.basket-row .basket-price, .basket-row .basket-total, .basket-row .basket-item, .basket-row .basket-qty{margin-bottom:15px;width:100%;}
.basket-qty .qty-input{width:60%}
.basket-area .table{height:100%;}
.basket-price .old-price:before{width:120px;left:30%;}
.basket-qty .cartproduct-qtu-left{max-width:200px;width:100%;margin:0px auto;float:none;}
.basket-subtotal{padding:0px;width:100%;float:left;margin-top:15px;}
.cloud-area{background-size:cover;}
.product-packge-img{padding-bottom:300px;}
.product-information h3{margin-top:10px;}
.security-is-our-mantra{background-position:-720px top;background-size:cover;}
.thankyou-shipping-address, .thankyou-billing-address{width:100%;}
.thankyou-label, .thankyou-value{font-size:14px;}
.vat-field-block .checkout-row:nth-child(3){clear:both;float:none;width:100%;}
#woocommerce_eu_vat_number{width:100%;float:none;padding-left:0px;}
.slider-content{margin-left:20px !important;}
.rev_slider_wrapper{margin-top:75px !important;}
.slider-content.sliden3 h2,
.slider-content.sliden1 h2, .slider-content.sliden2 h2{font-size:24px !important;line-height:1;}
.slider-content.sliden3 h2 span,
.slider-content.sliden1 h2 span{margin-top:3px !important;font-size:24px !important;display:block;line-height:normal !important;}
.slider-content.sliden1 .subtitle, .slider-content.sliden2 .subtitle, .slider-content.sliden3 .subtitle{font-size:18px !important;line-height:24px !important;}
.slider-content .row-btn .shopnow-btn{height:40px !important;text-align:center !important;}
.slider-content .row-btn .shopnow-btn span{line-height:normal !important;left:auto !important;}
.sliden1.sliden4{margin-left:-15px !important;}
.slider-content.sliden1.sliden4 .subtitle span{font-size:18px !important;line-height:24px !important;}
.ipad-video-frame img{width:70%;}
.watchlive-title-row h1{font-size:30px;}
.watchlive-title-row p{font-size:16px;}
.ipad-video-frame{margin-top:15px;}
.lets-3 p{font-size:14px;}
.motion-zone1{display:none;}
.control-bg2{padding:60px 0 0px 0;}
.total-control .total-control-point-2{float:none;margin:0 auto;text-align:center;}
.total-control .total-control-row{margin-bottom:40px;}
.total-control .iphone-camera{width:30%;}
.photo-cell img{max-width:100%;width:auto !important;height:auto !important;margin:0px !important;}
.table-photos::before{display:none;}
.cloud-storage .cloude-box{background-size:auto 35%;padding-top:80px;height:565px;}
.cloude-box::after{content:"";height:82%;position:absolute;left:0px;bottom:0;background:#f2f6fb;width:100%;z-index:10;}
.cloud-storage{padding-top:60px;}
.cloude-2{position:relative;z-index:99;}
.cloud-storage .cloude-row{height:605px;}
.cloude-2 p{font-size:14px;}
.lightlamp-block{padding-bottom:0px;}
.lightlamp-block .total-control-point-2{float:none;margin:0 auto;text-align:center;width:auto;max-width:320px;}
.lightlamp-block .total-control-row{margin-bottom:40px;}
.lightlamp-block .margin-top-light{padding-top:40px;overflow:hidden;}
.lightlamp-row, .lightlamp-dark-row, .lightlamp-light-row{background-position:right top;background-size:auto auto;}
.total-control-point-1{float:none;margin:0 auto;text-align:center;width:auto;max-width:320px;}
.everthing-you-content h2, .be-easier-area h2, .total-control-content h2, .no-batteries-col h2{font-size:30px;}
.everthing-you-content p, .be-easier-area p, .total-control-content p, .no-computer-content > p, .no-batteries-col p{font-size:14px;}
.total-control-point-1 h4{font-size:22px;}
.total-control-point-1 p{font-size:14px;}
.view-recording-row .total-control-row{margin-bottom:40px;padding:0 15px;}
.iphone-view-recording{margin-top:0px;width:85%;}
.smart-buffer-area{padding:60px 0;}
.smart-buffer-area .smart-title-area .total-control-content h2{font-size:30px;margin:15px 0;}
#smart-laptop{background-size:contain;height:132px;margin:0 auto;max-width:250px;padding:9px 13px 9px 11px;}
#smart-laptop .lappy-slider{width:72.929%;}
.smart-buffer-area .carousel-control{width:50px;}
.smart-area{position:relative;}
.smart-area .carousel-control .glyphicon-chevron-right,
.smart-area .carousel-control .glyphicon-chevron-left{background-size:contain;width:20px;height:30px;}
.smart-area .carousel-control .glyphicon-chevron-left, .smart-area .carousel-control .glyphicon-chevron-right{margin-top:-10px;}
.multicamera-row .ipad-camera{width:60%;}
.counter-area .count-box{font-size:28px;}
.blue-bg-footer .flex-center .cols-4{width:100%;}
.camera-image{height:270px;}
.ring-image-box > div{height:520px;right:-80px;}
.wipe-ray{margin-left:156px;width:120px !important;bottom:73px;}
.motion-activated-content{max-width:200px;}
.sotres-cloud-bg{height:225px;}
.sec-stores-right{margin-top:55px;}
.cloud-stores-photos{left:-3px;}
.cloud-stores-photos > div.photo-cell1{top:60px;}
.cloud-stores-photos > div.photo-cell3{top:46px;}
.cloud-stores-photos > div.photo-cell4{left:-83px;top:13px;}
.instant-iphone{right:-40px;width:62%;}
.no-comp-apps{display:none;}
#key-featuresN{background:none;padding-bottom:40px;}
.tabn-title{font-size:24px;}
.req-row{padding:20px 0;}
.req-left{font-size:16px;width:190px;}
.req-list .req-icon{width:65px;}
.req-list .keyf-text p{font-size:15px;}
}
@media only screen and (max-width:568px){.product-filter-area li{width:100%;}
.product-filter-area li a{width:100%;float:left;text-align:left;padding:20px;border-bottom:solid 1px #f1f6f8;border-right:none;}
.product-listing > li{width:100%;margin-left:0px;margin-right:0px;margin-bottom:15px;}
.cartproduct-qtu-left{width:100%;margin-bottom:10px;}
.cartproduct-qtu-right{width:100%;margin:0px;}
.cartSummary-row{padding:12px;}
.cloud-area-save{display:none;}
.cloud-area-description{width:100%;}
.shopnow-btn span{left:-21px;position:relative;width:100px;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.header-block ul li{height:27px !important;}
.navbar-nav{margin:6.5px 0px !important;}
#custom_moneyback_icon_image{max-width:75% !important;}
.custom_proceed_checkout_btn span{left:73px !important;width:135px !important;}
#custom_cart_class{font-size:13px !important;}
.offersave-15{margin-right:35px !important;font-size:14px !important;}
#rev_slider_3_1_wrapper{margin-top:75px !important;}
.owl-theme .owl-controls .owl-buttons div{width:49px !important;}
.cloud-photos .photo-cell.photo-cell-3 img{margin-top:3px !important;}
.cloud-photos .photo-cell.photo-cell-4 img{margin-top:16px !important;}
}
@media only screen and (max-width:420px){.fast-shipping{background-position:center 20px;padding:80px 10px 10px 10px;}
.easytoinstall-area{background-size:70% auto;}
.brand-review .brand-img{width:100%;float:left;text-align:center;}
.client-say{margin-left:0px;margin-top:15px;width:100%;float:left;}
.client-say-blank{padding:0px;text-align:center;}
.rating-bar{width:80px;}
.percent-80, .percent-info{width:100%;float:left;text-align:center;}
.product-viewblank li{padding-bottom:20px;padding-top:20px;}
.promo-box-area{padding:20px;}
.count-btn-area{padding:0px 20px;}
.blank-review{padding:30px;}
header, section, article, footer{padding-left:15px;padding-right:15px;}
.product-grid-li li .product-content{padding:10px;}
.proceed-btn{padding:0px 40px !important;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.howitworks-header h2{font-size:40px;}
.whereitall-left{text-align:center;}
.smart-title-area .total-control-content h2{margin:0px;padding:0px;}
.smart-title-area .plugnplay-icon img{width:90px;}
.quick-section .sec-icon{min-height:1px;}
.camera-image{height:200px;margin:23px -47px -49px -10px;}
.ring-image-box > div{height:460px;right:-50px;}
.wipe-ray{margin-left:161px;width:94px !important;bottom:4px;}
.sec-stores-right{float:none;text-align:center;width:70%;margin-top:60px;margin:0 auto;margin-top:50px;}
.stores-footage .flex-center{min-height:480px;}
.diagram-connect{width:75%;bottom:20px;}
.sec-stores-right .sec-icon{width:60%;margin:0 auto;}
.sotres-cloud-bg::after{height:320px;bottom:-320px;}
.cloud-stores-photos > div.photo-cell3{left:-38px;}
.cloud-stores-photos > div.photo-cell4{left:-64px;top:15px;}
.instant-alert-content{max-width:140px;margin-top:40px;}
.instant-iphone{width:87%;right:-85px;top:15px;}
.no-computer-content{max-width:140px !important;}
.no-computer-content h2{margin:10px 0 !important;}
.no-computer-required{padding-top:25px;padding-bottom:0px;}
.slider-content.sliden2 .appstore-area{display:none !important;}
.slider-content.sliden3 .subtitle,
.slider-content.sliden1 .subtitle{display:none !important;}
.slider-content.sliden1.sliden4 h2,
.slider-content.sliden1.sliden4 h2 span{font-size:20px !important;}
.top-text,
.tabn-title{text-align:center;}
.keyf-text h3{font-size:20px;}
.req-left, .req-right{display:block;width:100%;}
.req-list .keyf-text{padding-left:0px;padding-top:15px;}
.req-row{text-align:center;}
}
@media only screen and (max-width:360px){.product-grid-li li .product-content{left:10px;top:10px;}
.product-grid-li > li{height:180px;}
.product-grid-li > li > img{height:100%;width:100%;}
.owl-theme .owl-controls .owl-buttons div{width:47px !important;}
.counter-center{padding:0px 10px;}
.rating-label, .rating-label-count{width:55px;}
.rating-bar{width:60px;}
.cart-summary-right .qty-input{width:50px;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.cloude-row{height:750px;}
.security-is-our-mantra{background-position:-910px top;}
.thankyou-left-cell{margin-bottom:15px;}
.thankyou-left-cell, .thankyou-right-cell{text-align:left;width:100%;}
.sp-large{height:330px !important;}
.product-information .shopnow-btn.product-buynow{width:225px;padding:0 90px;}
.slider-content.sliden3 .subtitle,
.slider-content.sliden1 .subtitle{display:none !important;}
.slider-content.sliden2 .appstore-area{display:none !important;}
.slider-content.sliden1.sliden4 h2,
.slider-content.sliden1.sliden4 h2 span{font-size:20px !important;}
.cloud-photos .photo-cell-3 img{margin-top:12px !important;}
.cloud-photos .photo-cell-4 img{margin-top:25px !important;}
.top-text,
.tabn-title{text-align:center;}
.keyf-text h3{font-size:20px;}
.req-left, .req-right{display:block;width:100%;}
.req-list .keyf-text{padding-left:0px;padding-top:15px;}
.req-row{text-align:center;}
}
@media only screen and (min-width:241px) and (max-width:320px){.slider-content.sliden1.sliden4 h2,
.slider-content.sliden1.sliden4 h2 span{font-size:16px !important;}
.cloud-photos .photo-cell-3 img{margin-top:12px !important;}
.cloud-photos .photo-cell-4 img{margin-top:25px !important;}
.quick-section .sec-icon{min-height:1px;}
.camera-image{height:200px;margin:23px -47px -49px -10px;}
.ring-image-box > div{height:460px;right:-50px;}
.wipe-ray{margin-left:143px;width:80px !important;}
.camera-image{height:160px;margin-top:0px;}
.cloud-stores-photos > div.photo-cell4{left:-56px;top:22px;}
.instant-iphone{top:105px;}
.no-computer-content p{font-size:13px;}
.women-tablet{left:-48px;}
.ring-image-box > div{height:440px;}
.shopnow-btn{width:auto;}
.count-btn-area .shopnow-btn{line-height:50px;}
.count-btn-area span{position:relative;width:194%;left:-18px !important;}
.shopnow-btn span{left:-18px;width:194%;position:relative;}
.checkout-row .shopnow-btn span{left:-57px;width:194%;position:relative;}
.checkout-row .shopnow-btn{width:250px;}
.shop_custom_flex_center.flex_center{padding-left:0px !important;padding-right:0px !important;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{font-size:15px !important;height:56px !important;width:57px !important;}
.product-caption p{padding-right:20px !important;font-size:18px !important;}
.navbar-nav{margin:6.5px 0px !important;}
#coupon_head h4{font-size:20px !important;}
.custom_cart_class{margin-right:50px !important;}
#custom_moneyback_icon_image{max-width:75% !important;}
.custom_continue_shopping_btn{width:122% !important;padding:0 14px !important;margin-left:-18px !important;}
.custom_proceed_checkout_btn{padding:0 27px !important;width:122% !important;margin-right:-19px !important;}
.moneyback-icon{max-width:252px !important;}
.offersave-15{margin-right:35px !important;font-size:14px !important;}
.sp-large{height:275px !important;}
.cartproduct-qtu-right.product-total{margin-top:0px !important;}
}
@media only screen and (max-width:240px){.shopnow-btn{left:-23px;position:relative;width:auto;}
.count-btn-area span{position:relative;width:428%;left:-38px !important;}
.product-howitwork li{font-size:12px !important;}
.shop_custom_flex_center .flex-center{padding-left:0px !important;padding-right:0px !important;}
.product-info-area .product-information h2{font-size:21px !important;padding-right:50px;}
.product-listing .product-info-area h2 .offersave-15, .product-listing .product-info-area h2 .offersave-17, .product-listing .product-info-area h2 .offersave-17-1{font-size:12px !important;height:55px !important;right:-9px !important;width:55px !important;}
.navbar-brand{margin-right:17px !important;margin-top:25px !important;padding:0;}
.custom_proceed_checkout_btn{position:relative;margin-left:-24px !important;width:150% !important;}
.custom_proceed_checkout_btn span{left:-31px;position:relative;width:122px;}
.offersave-15{margin-right:-9px !important;}
}
@media only screen and (max-width:375px){.custom_proceed_checkout_btn span{left:9px !important;width:135px !important;}
#coupon_head h4{font-size:20px !important;}
}
@media only screen and (max-width:414px){.custom_proceed_checkout_btn span{left:-3px !important;width:125px !important;}}
@media only screen and (max-width:384px){.custom_proceed_checkout_btn span{left:14px !important;width:133px !important;}
}
@media only screen and (max-width:600px){.bastket-img img{max-width:60% !important;}
.offersave-15{font-size:13px !important;}
}
@media only screen and (min-width:569px) and (max-width:600px){.custom_proceed_checkout_btn span{padding-left:77px !important;width:75% !important;}
#custom_moneyback_icon_image{max-width:75% !important;}.offersave-15{font-size:13px !important;}
.owl-theme .owl-controls .owl-buttons div{width:79px !important;}
.product-buynow2{margin-top:-14px !important;}
}
.lang a{display:inline-block;padding:15px 30px;font-size:16px;font-weight:700;text-transform:uppercase;color:#fff;border:solid 3px #fff;margin:0px 15px;}
.lang a:hover{border:solid 3px #f29653;color:#f29653;}